torch==2.10.0 
torchvision==0.25.0 
mistral-common==1.11.3
vllm==0.17.1
uvloop 
fastapi 
cbor2 
gguf 
compressed-tensors==0.13.0 
flashinfer-python==0.6.4 
flashinfer-cubin==0.6.4 
msgspec 
numba==0.61.2 
nvidia-cudnn-frontend
nvidia-cutlass-dsl 
openai
langchain_openai 
ray[cgraph] 
sentencepiece 
watchfiles 
transformers==4.56.0
pybase64
openai_harmony 
llguidance 
partial_json_parser
vllm==0.17.1
pymorphy2
razdel
typing
